# dependencies
node_modules/

# Expo
.expo/
distv/
web-build/
expo-env.d.ts

# Native
.borlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.nebileprovision

# Metro
.astro-headth-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# mac05
.D.S Store
*.pen

# local env files
.env*.local

# typescript
*.tabuilding
